---
title: Tomorrow - Quantifying the impact of every choice we make
description: We want to help humanity reach a sustainable state of existence by quantifying, and making widely accessible, the impact of every choice we make
image: https://www.tmrow.com/img/tmrow-social.jpg
url: https://www.tmrow.com
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    {% include meta.html 
      title=page.title
      description=page.description
      image=page.image
      url=page.url
    %}
  </head>
  <body>
    <!-- start Twitter -->
    <script>
        window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
        }(document, "script", "twitter-wjs"));
        twttr.ready(function(e) {
            twttr.events.bind('click', function(event) {
                // event.region is {tweet,follow}
                trackAnalyticsEvent(event.region);
            })
        })
    </script>
    <!-- end Twitter -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
          FB.init({
            appId      : '1821546271499223',
            xfbml      : true,
            version    : 'v2.8'
          });
          if(window.location.href.indexOf('localhost') == -1)
            FB.AppEvents.logPageView('pageview');
          FB.Event.subscribe('edge.create', function(e) {
            // This will happen when they like the page
            if (e == 'https://www.facebook.com/tmrowco') {
              trackAnalyticsEvent('like');
            }
          })
          FB.Event.subscribe('edge.remove', function(e) {
            // This will happen when they unlike the page
            if (e == 'https://www.facebook.com/tmrowco') {
              trackAnalyticsEvent('unlike');
            }
          })
      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      function trackAnalyticsEvent(eventName, paramObj) {
        if (window.location.href.indexOf('localhost') == -1) {
          try {
            if(typeof FB !== 'undefined')
              FB.AppEvents.logEvent(eventName, undefined, paramObj);
          } catch(err) { console.error('FB AppEvents error: ' + err); }
          try {
            if(typeof mixpanel !== 'undefined')
              mixpanel.track(eventName, paramObj);
          } catch(err) { console.error('Mixpanel error: ' + err); }
          try {
            if(typeof ga !== 'undefined')
              ga('send', eventName);
          } catch(err) { console.error('Google Analytics error: ' + err); }
        }
      }
    </script>

    {% include header.html %}

    <div id="hero-container"></div>

    <section id="mission-container">
      <div id="mission">
        <h1 style="text-align: left">Our mission:</h1>
        <img class="quote start" src="img/double_quote_start.svg"/>
        <span class="quote">
          We want to help humanity reach a sustainable state of existence by quantifying, and making widely accessible, the impact of every choice we make
        </span>
        <img class="quote end" src="img/double_quote_end.svg"/>
        <div style="padding: 0.8rem">
          <p>
            <!-- Facebook follow -->
            <div class="fb-like" 
              data-href="https://www.facebook.com/tmrowco" 
              data-layout="button" 
              data-action="like"
              data-size="small" 
              data-show-faces="false">
            </div>
            <!-- Twitter follow -->
            <a class="twitter-follow-button"
              href="https://twitter.com/tmrowco"
              data-show-screen-name="false"
              data-show-count="false">
            Follow @tmrowco</a>
          </p>
        </div>
      </div>
      <div id="mission-description">
        <p>
          Climate Change is the biggest challenge of our time.
          The overwhleming majority of our daily activities are still based on processes that release greenhouse gases, and thus our way of life is unsustainable.
        </p>
        <p>
          A radical change is required.
        </p>
        <p>
         Information has to precede action. In this jungle of complex trade-offs, living truly sustainaibly has become difficult.
        </p>
        <p>
          We use science, data and machine learning to automatically quantify the environmental impact of our daily decisions.
          We present this information in a simple and elegant way, empowering anyone to have a tangible and positive impact.
        </p>
      </div>
    </section>

    <section id="products">
      <div class="section-content">
        <h1>Our products</h1>
        <div style="width: 100%; display: flex; flex-wrap: wrap; text-align: center; line-height: 1.7rem;">
          <div class="col-3">
            <a href="https://www.electricitymap.org" target="_blank">
              <img src="img/products/electricitymap.png" style="margin: 0 auto; height: 10rem; border-radius: 5%"/>
              <h3>electricitymap.org</h3>
            </a>
            <b>Electricity Map</b> shows in real-time where your electricity comes from and how much CO2 was emitted to produce it.
            <!--The project is open sourced on <a href="https://github.com/tmrowco/electricitymap" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> github</a>.-->
            <!-- Add play store / apple store buttons. -->
          </div>
          <div class="col-3">
            <a href="https://www.co2signal.com" target="_blank">
              <img src="img/products/co2signal.png" style="margin: 0 auto; height: 10rem; border-radius: 5%"/>
              <h3>CO2 Signal</h3>
            </a>
            <b>CO2 Signal</b> is an API that enables connected devices to use electricity when its carbon footprint is lowest.
          </div>
          <div class="col-3">
            <div src="img/product/next.png" style="margin: 0 auto; height: 10rem; width: 10rem; border-radius: 5%; background-color: white"></div>
            <h3>?</h3>
            To be announced.
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <div class="section-content">
        <h1>Team</h1>
        <div class="members">

          <div class="member">
            <div class="picture">
              <img class="profile" src="img/team/oli.png"></img>
            </div>
            <div class="description">
              <b>Olivier Corradi</b>, Founder
              <span style="white-space: nowrap; margin-bottom: 1px">
                <a href="https://twitter.com/corradio" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/oliviercorradi" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </span>
              <p>Olivier is a French/Danish mathematician, engineer and full stack programmer.</p>
              <p>
                He previously managed data science and engineering at French AI startup <a href="http://snips.ai" target="_blank">Snips</a>, scaling the company from 1 to 30 employees.
              </p>
              <p>
                He studied mathematical statistics at the Technical University of Denmark, general engineering at Ecole Centrale Paris and doesn't remember anymore when he started coding.
              </p>
              <p><b>Previous companies:</b> Snips, Google, IBM&nbsp;Research</p>
              <p><b>Stuff he likes:</b> Chaos. Non-linearity. Rick Sanchez. Producing electronic music. Scraping data. Running. Playing soccer.</p>
            </div>
          </div>

          <div class="member">
            <div class="picture">
              <img class="profile" src="img/team/bru.png"></img>
            </div>
            <div class="description">
              <b>Bruno Lajoie</b>, Scientific Expert
              <span style="white-space: nowrap; margin-bottom: 1px">
                <a href="https://twitter.com/brunolajoie" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/brunolajoie" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </span>
              <p>Bruno is a French engineer specialised in energy and climate change.</p>
              <p>He spent 7 years working in the energy industry as strategy consultant, and managed a research think-tank on the energy transition funded by Schlumberger.</p>
              <p>He studied general engineering at Ecole Centrale Paris.</p>
              <p><b>Previous companies:</b> Accenture, Schlumberger Business Consulting, SBC Energy Institute
              <p><b>Stuff he likes:</b> Mountains. Yoga. Tennis. Natural sciences. Crazy trance music.</p>
            </div>
          </div>

        </div>

        <!--<h2>Contributors</h2>
        <span class="slack-button">
            <a href="https://slack.tmrow.co" target="_blank" class="slack-btn">
                <span class="slack-ico"></span>
                <span class="slack-text">Slack</span>
            </a>
        </span>
        <img width="24" src="https://ca.slack-edge.com/T24QCQBC4-U2E4GKV7E-75e0b3b32b58-48"></img>@apant-->
      </div>
    </section>

    <section id="jobs">
      <div class="section-content">
        <h1>Jobs<i class="badge">4</i></h1>

        We're here to find scalable solutions to climate change.
        If you're looking to have a meaningful impact, and have a significant expertise in tech, consider joining our team&nbsp;🙂

        <p>
          Current openings:

          <div class="jobs">

            <div class="job">
              <div class="title">
                <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Software Engineer / Full-stack developer (intership or student job available)
              </div>
              <div class="description" style="display: none">
                Work on shaping our new products.
                Build them from the ground up, or take existing products to the next level.
              </div>
            </div>

            <div class="job">
              <div class="title">
                <i class="fa fa-paint-brush" aria-hidden="true"></i>&nbsp;&nbsp;UI and UX Designer (intership or student job available)
              </div>
              <div class="description" style="display: none">
                Work on making complex information simple to understand.
                Help us create a feeling of empowerement.
              </div>
            </div>

            <div class="job">
              <div class="title">
                <i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Growth Hacker / Product Manager
              </div>
              <div class="description" style="display: none">
                Work on understanding our users. What drives them?
                Help us make our product easier to understand, easier to use, and help us trigger behaviour shifts.
              </div>
            </div>

            <div class="job">
              <div class="title">
                <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;Data Scientist (intership or student job available)
              </div>
              <div class="description" style="display: none">
                Work on our data processing pipeline. Privacy. Greenbit
              </div>
            </div>

          </div>

        </p>
        

        <p>
          Interested? Send us an <a href="mailto:jobs@tmrow.com"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;email</a> with your CV, links to what you've already built, and a description of what you'd ideally like to work on.
        </p>

        <p>
          You can also help by contributing to our <a href="https://github.com/tmrowco/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;open source projects</a>.
          Come say hi on our <a href="http://slack.tmrow.co" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i>&nbsp;slack</a> channel if you have any questions 🙂
        </p>

      </div>
    </section>

    <footer>
      <div id="footer-content">
        <p>
          &copy; 2017 Tomorrow | <a href="mailto:hello@tmrow.co"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;email</a> | 
          <a href="https://facebook.com/tmrowco/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;facebook</a> |
          <a href="https://twitter.com/tmrowco" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;twitter</a> |
          <a href="https://medium.com/tmrow" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i>&nbsp;medium</a>
        </p>
        <p>
          🇩🇰  Copenhagen<br />
          🇫🇷  Paris
        </p>
      </div>
    </footer>

    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/jquery-scrollspy.min.js"></script>

    <script>
      $(function domReady($) {

        $('section').each(function eachElement() {
          var $this = $(this);
          var position = $this.position();
          var offset = $('header').outerHeight() + 200;
          $this.scrollspy({
            min: position.top - offset,
            max: position.top - offset + $this.outerHeight(),
            onEnter: function onEnter(element) {
              $('#header-content li.' + element.id).addClass('active');
            },
            onLeave: function onEnter(element) {
              $('#header-content li.' + element.id).removeClass('active');
            }
          })
        });

      });
    </script>

  </body>
</html>
