<header>
  <div id="header-content">
    <a href="#" title="Tomorrow" class="logo">
      Tomorrow
    </a>
    <ul class="menu">
      <li class="email"><a href="mailto:hello@tmrow.com"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact</a></li>
      <li class="blog"><a href="https://medium.com/tmrow" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i>&nbsp;Blog</a></li>
      <li class="products"><a href="#products"><i class="fa fa-flask" aria-hidden="true"></i>&nbsp;Products</a></li>
      <li class="team"><a href="#team"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Team</a></li>
      <li class="jobs"><a href="#jobs"><i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;Jobs</a></li>
      <!-- <li class="climate active"><a href="climatechange.html"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;Climate Change</a></li> -->
    </ul>
  </div>
</header>